{% extends 'awwardsproject/base.html'%}
{% load static%}

{% block content%}

<br>
<div class="card-group">
  <div class="card" style="width: 18rem;">
    <div class="row">
      <div class="col-sm-3" style="margin: 10px 20px;">
      {% for post in posts %}
      <h4 class="card-text">{{ post.title }}</h4>
      <img src="{{post.picture.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ post.post }}</p>
          <p class="card-text">{{ post.author.username }}</p>
          <p class="card-text">{{ post.published_date }}</p>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

  

{% endblock %}